<div class="m-5">
  <form [formGroup]="rForm" (submit)="onSubmit()">
    <div class="col-4">
      <label class="form-label">Name :</label>
      <input type="text" name="name" class="form-control" [ngClass]="data.name.touched && data.name.invalid ? 'border border-1 border-danger':''" formControlName="name" placeholder="Enter Name">
      <span class="text-danger" *ngIf="data.name && data.name.touched && data.name.invalid">Please enter valid Name*</span>
    </div>

    <div class="col-4">
      <label class="form-label">Age :</label>
      <input type="number" name="age" class="form-control" [ngClass]="data.age.touched && data.age.invalid ? 'border border-1 border-danger':''" formControlName="age" placeholder="Enter age">
      <span class="text-danger" *ngIf="data.age && data.age.touched && data.age.invalid">Please enter valid Age*</span>
    </div>

    <div class="col-4">
      <label class="form-label">Email :</label>
      <input type="email" name="email" class="form-control" [ngClass]="data.email.touched && data.email.invalid ? 'border border-1 border-danger':''" formControlName="email" placeholder="Enter Email">
      <span class="text-danger" *ngIf="data.email && data.email.touched && data.email.invalid">Please enter valid Email address*</span>
    </div>

    <div class="col-4 mt-4">
      <button class="btn btn-warning" type="button" (click)="onAddSkill()">Add Skills</button>
    </div>

    <div class="col-4 mt-4" formArrayName="skills">
      <div *ngFor="let skill of rForm.controls.skills.controls; index as i" [formGroup]="skill" class="container">
        <div class="col-6">
          <label class="form-label">Skill1 :</label>
          <input type="text" name="field1" class="form-control" formControlName="field1">
          <span class="text-danger" *ngIf="">Please enter valid skill address*</span>
        </div>
    
        <div class="col-6">
          <label class="form-label">Skill2 :</label>
          <input type="text" name="field2" class="form-control" formControlName="field2">
          <span class="text-danger" *ngIf="">Please enter valid skill address*</span>
        </div>

        <div class="col-3 mt-4 mb-4">
          <button class="btn btn-outline-danger" type="button" (click)="onRenoveSkill(i)">Remove</button>
        </div>
      </div>
    </div>

    <div class="col-4 d-flex justify-content-center mt-4">
      <button class="ps-5 pe-5 pt-2 pb-2" type="submit" [disabled]="rForm.invalid" [ngClass]="rForm.invalid ? 'btn btn-secondary':'btn btn-primary'">Submit</button>
    </div>
  </form>
</div>